root = true

[*]
charset = utf-8
end_of_line = crlf
insert_final_newline = true

[*.{h,hpp,cpp,cs,hlsl,shader}]
indent_style = space
indent_size = 4

[*.csproj]
indent_style = space
indent_size = 2

[{.editorconfig}]
indent_style = space
indent_size = 4
