[submodule "ThirdParty/ImGui/Source"]
	path = ThirdParty/ImGui/Source
	url = https://github.com/stalomeow/imgui.git
	branch = march-engine
[submodule "ThirdParty/ImGuizmo/Source"]
	path = ThirdParty/ImGuizmo/Source
	url = https://github.com/stalomeow/ImGuizmo.git
	branch = march-engine
[submodule "ThirdParty/ImOGuizmo/Source"]
	path = ThirdParty/ImOGuizmo/Source
	url = https://github.com/stalomeow/imoguizmo.git
	branch = march-engine
[submodule "Tools/Build/Premake"]
	path = Tools/Build/Premake
	url = https://github.com/stalomeow/premake-core.git
	branch = march-engine
