* text=auto

*.h        linguist-language=cpp
*.hpp      linguist-language=cpp
*.cpp      linguist-language=cpp
*.cxx      linguist-language=cpp
*.compute  linguist-language=hlsl
*.shader   linguist-language=shaderlab
*.manifest linguist-language=xml

Resources/Meta/**                 linguist-generated
Resources/FontAwesome/LICENSE.txt text eol=lf
Resources/Fonts/Inter-LICENSE.txt text eol=lf

/ThirdParty/**            linguist-vendored
/ThirdParty/**/build.lua -linguist-vendored